@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* background 상단 슬라이드 이미지 */
#idxTopSlide1{
	background: url(../cocosImg/indexImg/coMainTop1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #434343;
	color: #ffffff;
    height: 100vh;
    width: 100vw;
  	background-position: center center;	
}	

#idxTopSlide2{
	background: url(../cocosImg/indexImg/coMainTop2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #434343;
	color: #ffffff;
    height: 100vh;
    width: 100vw;
  	background-position: center center;	
}

#idxTopSlide3{
	background: url(../cocosImg/indexImg/coMainTop3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #434343;
	color: #ffffff;
    height: 100vh;
    width: 100vw;
  	background-position: center center;	
}


/* 중단 서비스 백그라운드이미지 */
.idxSvceBgimg{
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../cocosImg/indexImg/idxSvceBgimg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #434343;
	color: #ffffff;
    height: auto;
    width: 100vw;
    padding:7% 0 7% 0;
  	background-position: center center;
}


/* 중단 서비스 백그라운드이미지 끝*/


/* 	메뉴 버튼 */

	.side-categroy-btn {
		 color: #AAB7B8;
		 background: transparent;
		 border: 2px solid #AAB7B8;
		 font-size: 17px;
		 padding: 7px 12px;
		 font-weight: normal;
		 margin: 6px 0;
		 margin-right: 12px;
		 display: inline-block;
		 text-decoration: none;
		 /* font-family: 'Open Sans', sans-serif; */
		 /* min-width: 120px; */
	}

	.side-categroy-btn:hover{
		 color: #AAB7B8;		
	}

/* 메뉴버튼 호버 */
	.side-categroy-btn:focus,	 
	.side-categroy-btn:active,
	.side-categroy-btn.active,
	.open .dropdown-toggle .side-categroy-btn{
		 color: #009688;
		 background: transparent;
		 border: 2px solid #009688;
		 font-size: 17px;
		 padding: 7px 12px;
		 font-weight: normal;
		 margin: 6px 0;
		 margin-right: 12px;
		 display: inline-block;
		 text-decoration: none;
		 /* min-width: 120px; */
         outline: none !important;
		  -webkit-box-shadow: none !important;
		  box-shadow: none  !important;
 
	}
	
	
/* 메뉴 애니메이션 */
	
.side-menu
	{
	position:relative;
	animation:mymove 1s ease-out forwards;
	animation-iteration-count:1;
	
	/* Safari and Chrome */
	-webkit-animation:mymove 1s;
	-webkit-animation-iteration-count:1;
	}
	
	@keyframes mymove
	{ from {top:50px; opacity: 0;}
	to {top:0px; opacity: 1}
	}
	
	@-webkit-keyframes mymove /* Safari and Chrome */
	{
	from {top:50px; opacity: 0;}
	to {top:0px; opacity: 1;}
	}	
	

/* 메뉴 라운드이미지 */

 #recomenu1{
	    /* position:absolute; */
	    /* background: url('../divImgs/ojing.jpg'); */
	    width: 100%;
	    /* height: 150px; */
	    height: 0;
	    /* padding-bottom: 50% ; % of width, defines aspect ratio */
	    padding-top:50%;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;  
	    overflow: hidden;
 }	
 
  /* 메뉴 쉐도우 */
 
  	#recomenu_box:hover, 
	#recomenu_box:focus, 
	#recomenu_box:active, 
	#recomenu_box.active, 
	.open .dropdown-toggle #recomenu_box {
 		
 		box-shadow:  4px 4px 5px rgba(0,0,0,0.6); 
		-moz-box-shadow:  4px 4px 5px rgba(0,0,0,0.6); 
		-webkit-box-shadow:  4px 4px 5px rgba(0,0,0,0.6); 
		-o-box-shadow:  4px 4px 5px rgba(0,0,0,0.6);
		
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
	}	

	    
    /* IE  */
    /*Edge*/
 @supports ( -ms-accelerator:true ) 
{
    html{
        overflow: hidden;
        height: 100%;    
    }
    body{
        overflow: auto;
        height: 100%;
    }
} 
/*Ie 10/11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
{
    html{
        overflow: hidden;
        height: 100%;    
    }
    body{
        overflow: auto;
        height: 100%;
    }
}
    
  
	
/* all menu slider */	