@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* background 상단 슬라이드 이미지 */
#idxTopSlide1{
	background: url(../cocosImg/indexImg/coMainTop1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #434343;
	color: #ffffff;
    height: 100vh;
    width: 100vw;
  	background-position: center center;	
}	

#idxTopSlide2{
	background: url(../cocosImg/indexImg/coMainTop2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #434343;
	color: #ffffff;
    height: 100vh;
    width: 100vw;
  	background-position: center center;	
}

#idxTopSlide3{
	background: url(../cocosImg/indexImg/coMainTop3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #434343;
	color: #ffffff;
    height: 100vh;
    width: 100vw;
  	background-position: center center;	
}


/* 중단 서비스 백그라운드이미지 */
.idxSvceBgimg{
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../cocosImg/indexImg/idxSvceBgimg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #434343;
	color: #ffffff;
    height: auto;
    width: 100vw;
    padding:7% 0 7% 0;
  	background-position: center center;
}


/* 중단 서비스 백그라운드이미지 끝*/


/* 	메뉴 버튼 */

	.side-categroy-btn {
		 color: #AAB7B8;
		 background: transparent;
		 border: 2px solid #AAB7B8;
		 font-size: 17px;
		 padding: 7px 12px;
		 font-weight: normal;
		 margin: 6px 0;
		 margin-right: 12px;
		 display: inline-block;
		 text-decoration: none;
		 /* font-family: 'Open Sans', sans-serif; */
		 /* min-width: 120px; */
	}

	.side-categroy-btn:hover{
		 color: #AAB7B8;		
	}

/* 메뉴버튼 호버 */
	.side-categroy-btn:focus,	 
	.side-categroy-btn:active,
	.side-categroy-btn.active,
	.open .dropdown-toggle .side-categroy-btn{
		 color: #009688;
		 background: transparent;
		 border: 2px solid #009688;
		 font-size: 17px;
		 padding: 7px 12px;
		 font-weight: normal;
		 margin: 6px 0;
		 margin-right: 12px;
		 display: inline-block;
		 text-decoration: none;
		 /* min-width: 120px; */
         outline: none !important;
		  -webkit-box-shadow: none !important;
		  box-shadow: none  !important;
 
	}
	
	
/* 메뉴 애니메이션 */
	
.side-menu
	{
	position:relative;
	animation:mymove 1s ease-out forwards;
	animation-iteration-count:1;
	
	/* Safari and Chrome */
	-webkit-animation:mymove 1s;
	-webkit-animation-iteration-count:1;
	}
	
	@keyframes mymove
	{ from {top:50px; opacity: 0;}
	to {top:0px; opacity: 1}
	}
	
	@-webkit-keyframes mymove /* Safari and Chrome */
	{
	from {top:50px; opacity: 0;}
	to {top:0px; opacity: 1;}
	}	
	

/* 메뉴 라운드이미지 */

 #recomenu1{
	    /* position:absolute; */
	    /* background: url('../divImgs/ojing.jpg'); */
	    width: 100%;
	    /* height: 150px; */
	    height: 0;
	    /* padding-bottom: 50% ; % of width, defines aspect ratio */
	    padding-top:50%;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;  
	    overflow: hidden;
 }	
 
  /* 메뉴 쉐도우 */
 
  	#recomenu_box:hover, 
	#recomenu_box:focus, 
	#recomenu_box:active, 
	#recomenu_box.active, 
	.open .dropdown-toggle #recomenu_box {
 		
 		box-shadow:  4px 4px 5px rgba(0,0,0,0.6); 
		-moz-box-shadow:  4px 4px 5px rgba(0,0,0,0.6); 
		-webkit-box-shadow:  4px 4px 5px rgba(0,0,0,0.6); 
		-o-box-shadow:  4px 4px 5px rgba(0,0,0,0.6);
		
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
	}	

/* con 센터 */
/* 인덱스 메인 문구 centered */	
.col-centered{
    float: none;
    margin: 0 auto;
}
/* 인덱스 메인 문구끝 */

/* 환영합니다 이미지 */	
	#welcomeImg{
		background: url(../cocosImg/indexImg/welcomeDakg.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-color: #434343;
		color: #ffffff;
	  	background-position: center center;	
	}
	
	

/* 환영합니다 이미지 끝*/			    
    /* IE  */
    /*Edge*/
 @supports ( -ms-accelerator:true ) 
{
    html{
        overflow: hidden;
        height: 100%;    
    }
    body{
        overflow: auto;
        height: 100%;
    }
} 
/*Ie 10/11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
{
    html{
        overflow: hidden;
        height: 100%;    
    }
    body{
        overflow: auto;
        height: 100%;
    }
}
    
   /* 1080px일때 margin 이벤트 */ 
   /* #mSlctBodySize {
        margin-bottom: 50px;
    }
    @media only screen and (max-width: 1080px) {
      #mSlctBodySize {
        margin-bottom: 100px;
      }
    } */
  
  /* 체크박스 */
	label{
		position: relative;
		cursor: pointer;
		color: #666;
		font-size: 30px;
	}
	
	input[type="checkbox"], input[type="radio"]{
		/* position: absolute;
		right: 9000px; */
		display:none;
	}
	
	/*Check box*/
	input[type="checkbox"] + .label-text:before{
		content: "\f096";
		font-family: "FontAwesome";
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing:antialiased;
		width: 1em;
		display: inline-block;
		margin-right: 5px;
	}
	
	input[type="checkbox"]:checked + .label-text:before{
		content: "\f14a";
		color: #2980b9;
		animation: effect 250ms ease-in;
	}
	
	input[type="checkbox"]:disabled + .label-text{
		color: #aaa;
	}
	
	input[type="checkbox"]:disabled + .label-text:before{
		content: "\f0c8";
		color: #ccc;
	}
	
	/*Radio box*/
	
	input[type="radio"] + .label-text:before{
		content: "\f111";
		font-family: "Font Awesome 5 Free";
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing:antialiased;
		width: 1em;
		display: inline-block;
		margin-right: 5px;
	}
	
	input[type="radio"]:checked + .label-text:before{
		content: "\f192";
		font-family: "Font Awesome 5 Free";	
		color: #8e44ad;
		animation: effect 250ms ease-in;
	}
	
	input[type="radio"]:disabled + .label-text{
		color: #aaa;
	}
	
	input[type="radio"]:disabled + .label-text:before{
		content: "\f111";
		font-family: "Font Awesome 5 Free";	
		color: #ccc;
	}
	
	/*Radio Toggle*/
	
	.toggle input[type="radio"] + .label-text:before{
		content: "\f204";
		font-family: "FontAwesome";
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing:antialiased;
		width: 1em;
		display: inline-block;
		margin-right: 10px;
	}
	
	.toggle input[type="radio"]:checked + .label-text:before{
		content: "\f205";
		color: #16a085;
		animation: effect 250ms ease-in;
	}
	
	.toggle input[type="radio"]:disabled + .label-text{
		color: #aaa;
	}
	
	.toggle input[type="radio"]:disabled + .label-text:before{
		content: "\f204";
		color: #ccc;
	}
	
	
	@keyframes effect{
		0%{transform: scale(0);}
		25%{transform: scale(1.3);}
		75%{transform: scale(1.4);}
		100%{transform: scale(1);}
	}
	
/* all menu slider */	