@charset "UTF-8";


/* scroll hidden */
::-webkit-scrollbar {display:none;}
/* html, body { -ms-overflow-style: none; overflow: auto; } */

/* div vertical middle */
#vertiBox{
	display: table;
	width: 100%;
	height: 100%;
}

#vertiDiv{
	display:table-cell; 
	vertical-align:bottom;
	width: 100%;
}
